@charset "utf-8" ;
body {
    background-color: rgb(228, 180, 25);
    font-family: 30 px;
    font-size: 20px;
}
h1{
    color: rgb(172, 34, 75);
    background-color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
h2{
    color: rgb(73, 192, 18);
}
p {
    text-align: justify;
}
